@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap');
@import url("./pages.css");
@import url("./reset.css");

:root {
  --color-bg: #050B19;
  --font-primary: #fff;
  --secondary-color: #FEDC34;
  --color-logo: #C92935;
}

body {
  display: flex;
  width: 100vh;

  justify-content: center;

  background-color: var(--color-bg);
  color: var(--font-primary);
  margin: 0 1.438rem 1.25rem;

}
.wrap {
  display: flex;
  flex-direction: column;
}
.pages {
  margin: auto;
}

.wrapper {
  position: relative;
}



@media screen and (min-width: 240px) and (max-width: 3480px) {
  .wrapper,
  .page1,
  .page2 {
    width: 540px;
    height: 100vh;
    margin: auto;
  }


}